.home-wrapper{
  height: 200vh;
}
.slide-img {
  margin-left: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.slide-img img {
  height: 355px;
  user-select: none;
  margin-right: 15px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
}

.slide img:first-child {
  margin-left: -10px;
}

.slide-isle-link {
  display: flex;
  background-color: #FC6D89;
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-lips-link {
  display: flex;
  background-color: rgb(225, 147, 137);
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-farmacy-link {
  display: flex;
  background-color: rgb(183, 245, 157);
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-newprod-link{
  display: flex;
  background-color: #C5ABD3;
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-sunscreen-link{
  display: flex;
  background-color: rgb(250, 233, 156);
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



.slide-minis-link {
  display: flex;
  background-color: #FBCD53;
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.slide-img-link {
  display: flex;
  background-color: black;
  height: 12vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.slide-link-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.25;
  padding: 18px;
  flex: 1 1 0%;
}

.slide-link-container h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 2px;
  
}

.slide-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.slide-link span {
  font-weight: 700;

}

.slide-link p {
  padding-bottom: 21px;
}

.new-prod-caro {
  display: flex;
  flex-direction: column;

}

.new-prod-caro h2 {
  margin-left: 130px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.mini-car0 {
  display: flex;
  flex-direction: column;
}

.minis-caro h2 {
  margin-left: 130px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.new-prod-carousel-wrapper {
  margin: 17px 130px;

}

.caro-product-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  
}

.caro-product-card {
  width: 98%;
  height: 98%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  
}

.caro-product-image {
  width: 100%;
  height: auto;
  
}

.caro-product-details {
  padding: 8px 12px;
}

.brand-prod-carousel {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box !important;
  
}

.name-prod-carousel {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box !important;

}

