.slide-img {
  margin-left: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.slide-img img {
  height: 440px;
  user-select: none;
  margin-right: 15px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
}

.slide img:first-child {
  margin-left: -10px;
}

.slide-img-link {
  display: flex;
  background-color: black;
  height: 10vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



