#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    
  }
  
  #modal-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    
  }
  
  #modal-content {
    position: absolute;
    background-color:white;
    border: 1px solid rgb(221, 211, 211);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 15px ;
    
}

