.review-index-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review-wrapper {
    display: flex;
    justify-content: space-around;
}

.review-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.review-details h3 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-weight: 700;
    margin-bottom: 0.125em;
    font-family: Arial, Helvetica, sans-serif;

}

.star-rating {
    width: 170px;
}

.review-user { 
    width: 170px;
}
