.review-index-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review-wrapper {
    display: flex;
    justify-content: space-around;
}

.review-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.review-details h3 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-weight: 700;
    margin-bottom: 0.125em;
    font-family: Arial, Helvetica, sans-serif;

}

.star-rating {
    width: 170px;
}

.review-user { 
    width: 170px;
}


.review-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;

}

.review-form-wrapper h1 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 16px;
}

.review-form-container {
    display: flex;
    width: 80vw;
    margin-top: 24px;
 
}

.review-form-container img {
    width: 40%;
    padding-right: 17px;

}

.review-errors {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    gap: 1vw;
}

.product-review-info {
    margin-top: 24px;
    width: 40%;
}

.product-review-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.brand-review-form-link {
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

.brand-review-form-link:hover {
    text-decoration: underline;
}

.review-form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


.create-review-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 12px;
}

.create-review-label h4 {
    padding-bottom: 12px;
    padding-top: 24px;
}

.create-review-label textarea {
    height: 48px;
    padding: 10px;
}

.review-form button {
    width: 14.5em;
    min-height: 44px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 99999px;
    border: 1px solid black;
    margin-top: 24px;
    
}




.edit-review-link {
    font-size: 12px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
}

.edit-delete-review {
    display: flex;
    margin-top: 10px;
    
    
}

.edit-delete-review button {
    background-color: transparent;
    border: none;
    margin-left: 20px;
    font-size: 12px;
    text-decoration: underline;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    
}

