.brand-name {
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}

.brand-heading {
    margin-right: 80px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    height: 100%;
}

.brand-show-link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.brands-container {
    width: 100%;
    max-width: 1280px;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.brand-show-wrapper {
 padding-left: 150px;
 padding-top: 50px;
 display: flex;
 
 
}

.brand-show-container {
    display: flex;
    flex-wrap: wrap;
}

.brand-show-item {
    list-style-type: none;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    width: 12vw;
   
}

.brand-show-items {
    display: flex;
    flex-wrap: wrap;
}

.brand-show-item img {
    width: 100%;
}
.brand-show-item span {
    padding-bottom: 5px;
}

.show-link {
    font-size: 14px;
}