/* TODO Add site wide styles */
@import "./reset.css";

body {
    margin: 0%;
   
}
.freeShipping-button {
    border-style: none;
    background-color: #C0DCF1;
    margin-top: 0px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    line-height: 1.25;
    margin-bottom: 30px;
  

}

.icon {
    display: inline-block;
    width: 24px; 
    height: 24px;
    font-size: 16px;
    
  }
  
  #icon-container:hover #replacement-icon {
    display: inline-block;
  }

  #icon-container:hover #original-icon {
    display: none;
  }
  
  #replacement-icon {
    display: none; 
    position: initial;
    top: 0;
    left: 0;
  }

