.products {
    display: flex;
    margin: 200px;
    flex-wrap: wrap;
   
   
}

.prod-sec1 {
    display: flex;
    justify-content: center;
    align-items: left;
    
}

.brand {
    font-size: 14px;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.name-price-size {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.name {
    margin-top: -100px;
}

.image-container img {
    height: 500px;
    width: 500px;
    margin-right: 80px;
    padding-top: 80px;
}

.index-image-container img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}



.index-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: 354px;
    font-size: 14px;
    line-height: 1.25;
    text-align: left;
    position: relative;
    margin-right: 30px;
    padding: 24px 12px;
    
  
    
}

.brand-index {
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    
}

.price-index {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    width: 100%
}

.show-link {
    text-decoration: none;
    color: black;
    width: 100%;
}
