.header {
  width: 100vw;
}

.freeShipping-button {
  border-style: none;
  background-color: #C0DCF1;
  margin-top: 0px;
  width: 100%;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 1.25;
  min-height: clamp(0px, 4.80769vw, 60px);
}

.freeShipping-text {
  margin: auto;
}

.freeShipping-text:hover {
  text-decoration: underline;
}

.profile-button {
  border: none;
  background-color: transparent;
  display: flex;
  line-height: 1.25;
  align-items: center;
  min-width: 8em;
}

.user-greeting {
  font-size: 1vw;
}

.profile-icon {
  object-fit: cover;
  width: 2vw;
  height: 2vw;
  margin-top: -4px;
  margin-bottom: -4px;
  margin-right: 1vw;
  display: inline-block;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 24px; 
  font-size: 2vw;
  transform: scaleX(-1);
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-icon {
  height: 24px;
  width: 24px;
  font-size: 2vw;
  margin-right: .8vw;
  margin-top: -0.125em;
}




.nav1-icon-container {
  padding-left: 1vw;
  padding-right: 1vw;
  position: relative;
}

#icon-container:hover #replacement-icon {
  display: inline-block;
}

#icon-container:hover #original-icon {
  display: none;
}

#replacement-icon {
  display: none; 
  position: initial;
  top: 0;
  left: 0;
}

.nav1 {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: .8vw;
  width: 100vw;
}

.nav1-home {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-left: 16px;
  padding-right: 16px;
  margin-right: -16px;
}

.nav1-dropdowns {
  display: flex;
}

.home-link {
  font-size: 1.7vw;
  color: black;
  text-decoration-line: none;
  font-family: Arial, Helvetica, sans-serif;

}

ul li {
  text-align: center;
  align-items: center;
  display: flex;
}

.nav-button {
  background-color: white;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  padding-left: 1vw;
  padding-right: 1.1vw;
  font-size: 1vw;

}

.nav-store-link {
  color: black;

}

.user-dropdown {
  position: relative;
  display: inline-block;

}
.user-dropdown:hover .dropdown-content {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  width: 200%;
  padding: 20px 20px;
}

.dropdown-content img {
  width: 50px;
}

.user-icon-msg {
  display: flex;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px; 
}

.user-signin-button button {
  background-color: black;
  color: white;
  border-style: none;
  font-size: .8vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 99999px;
  border: 2px solid black;
  height: 35px;
  width: 155px;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.user-signup-button button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 99999px;
  font-size: .8vw;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  width: 155px;
  align-items: center;
  text-align: center;
}

.user-msg {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: .8vw;
  font-family: Arial, Helvetica, sans-serif;
}

.user-msg h3 {
  padding-bottom: .3vh;
  font-size: 1vw;
}

.user-msg p {
  font-size: .8vw;
}

.profile-dropdown:hover .dropdown-content {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  width: 200%;
 
}

.icon-greeting-drop {
  display: flex;
  padding-bottom: 10px;
}

.profile-icon-drop {
  width: 3vw;
  padding-right: 15px;
}

.greeting-drop {
  font-size: 1vw;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-button button {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  border: none;
  color: rgba(0, 0, 0, 0.76);
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 1vw;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  transform: translateX(-20%);
  width: 200%;
}
  
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 8px;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4vw;
  height: 1.4vw;
  background-color: red;
  color: white;
  font-size: .8vw;
  font-weight: bold;
  border-radius: 50%;
}
