.nav-links {
    display: flex;
    justify-content: space-between;
   font-family: Arial, Helvetica, sans-serif;

}

.home-link {
    font-size: 28px;
    color: black;
    text-decoration-line: none;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 20px;
   margin-bottom: 30px;

}

.nav-link {
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;

}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }